<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}">
<th:block layout:fragment="content">
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <h1 class="mt-4" th:if="${list.role == 'user'}">유저 관리</h1>
                <h1 class="mt-4" th:if="${list.role == 'writer'}">작가 관리</h1>
                <h1 class="mt-4" th:if="${list.role == 'admin'}">관리자 목록</h1>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <div class="row">
                <table class="table" id="article-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>EMAIL</th>
                        <th>NICKNAME</th>
                        <th:block th:if="${list.role == 'user'}">
                            <th>상태</th>
                            <th>탈퇴</th>
                        </th:block>
                        <th:block th:unless="${list.role == 'user'}">
                            <th>삭제</th>
                        </th:block>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${list.userManageDtoList}">
                        <td>[[${user.id}]]</td>
                        <td>[[${user.email}]]</td>
                        <td>[[${user.nickname}]]</td>
                        <th:block th:if="${list.role == 'user'}">
                            <td>
                                <input type="hidden" th:id="'userStatus_'+${user.id}" th:value="${user.userStatus}">[[${user.userStatus}]]
                                <button th:if="${user.userStatus == 'ACTIVE'}" onclick="changeUserStatus(this)"
                                        class="btn btn-secondary" th:data-id="${user.id}">정지
                                </button>
                                <button th:if="${user.userStatus == 'BLOCK'}" onclick="changeUserStatus(this)"
                                        class="btn btn-primary" th:data-id="${user.id}">해제
                                </button>
                            </td>
                            <td>
                                <button th:if="${user.userStatus == 'DISABLE'}" class="btn-danger"
                                        onclick="deleteUser(this)" th:data-id="${user.id}">탈퇴
                                </button>
                            </td>
                        </th:block>
                        <th:block th:unless="${list.role == 'user'}">
                            <td>
                                <button class="btn-danger" onclick="deleteUser(this)" th:data-id="${user.id}">삭제
                                </button>
                            </td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" th:unless="${list.role == 'user'}">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-primary me-md-2" role="button" href="/admin/insert">등록</a>
        </div>
    </div>
    <th:block th:replace="~{fragments/pagination}"></th:block>

    <script th:inline="javascript">
        function changeUserStatus(obj) {
            let userId = obj.dataset.id;
            $.ajax({
                url: `/admin/user/${userId}`,
                type: 'patch',
                data: {userStatus: $("#userStatus_" + userId).val()},
                cache: false,
                success: function (result) {
                    console.log(result);
                    location.reload();
                }, error: function () {
                    console.log("실패");
                }
            });
        }

        function deleteUser(obj) {
            let userId = obj.dataset.id;
            console.log(userId);
            $.ajax({
                url: `/admin/user/${userId}`,
                type: 'delete',
                cache: false,
                success: function (result) {
                    console.log(result);
                    location.reload();
                }, error: function () {
                    console.log("실패");
                }
            });
        }
    </script>
</th:block>

</html>