
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user_layout}">
<meta charset="UTF-8">
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {

            calculateTotalPrice();

            $("#count").change(function () {
                calculateTotalPrice();
            });
        });

        function calculateTotalPrice() {
            var count = $("#count").val();
            var price = $("#price").val();
            var totalPrice = price * count;
            $("#totalPrice").html(totalPrice + '원');
            $("input[name=totalPrice]").val(totalPrice);
        }

        function order() {
            var token = $z("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order";
            var paramData = {
                itemId: $("#itemId").val(),
                count: $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json",
                data: param,
                dataType: "json",
                cache: false,
                success: function (result, status) {
                    alert("주문이 완료 되었습니다.");
                    location.href = '/';
                },
                error: function (jqXHR, status, error) {

                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요');
                        location.href = '/members/login';
                    } else {
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

        function addCart() {
            let paramData = {
                bookId: $("#bookId").val(),
                count: $("#count").val()
            };


            $.ajax({
                type: "POST",
                url: "/cart/" + paramData.bookId,
                data: JSON.stringify(paramData),
                contentType: "application/json; charset=utf-8",
            }).done(function (response) {
                let status = response["status"];
                if (status === 200) {
                    let message = response["data"];
                    alert(message);
                    location.href = "/cart";
                } else {
                    let warn = "";
                    let errors = response["data"];
                    if (errors.title != null) warn += errors.title + "\n";
                    if (errors.content != null) warn += errors.content;
                    alert(warn);
                }
            }).fail(function (error) {
                let message = error["data"];
                alert("에러 발생 : " + message);
            });
        }
      
        // 댓글 작성 함수
        function addComment() {
            var formData = $("#commentForm").serialize(); // 폼 데이터를 가져옵니다.

            $.ajax({
                type: "POST",
                url: "/bookComment/" + $("#bookId").val(),
                data: formData,
                success: function (response) {
                    // 댓글을 성공적으로 작성한 경우, 댓글 목록을 업데이트합니다.
                    updateCommentList();
                },
                error: function (error) {
                    console.error('댓글 작성 오류:', error);
                }
            });
        }

        // 댓글 목록을 업데이트하는 함수
        function updateCommentList() {
            // 서버에서 댓글 목록을 가져옵니다.
            $.ajax({
                type: 'GET',
                url: '/bookComment/' + $('[name="bookId"]').val(),
                success: function (comments) {
                    // 댓글 목록을 업데이트합니다.
                    var commentList = $('#commentList'); // ID를 "commentList"로 수정
                    commentList.empty(); // 이전 목록을 지웁니다.

                    $.each(comments, function (index, comment) {
                        var listItem = $('<li>');
                        listItem.append('<p>' + comment.user.username + '</p>');
                        listItem.append('<p>' + comment.content + '</p>');
                        listItem.append('<p>' + comment.score + '</p>');
                        commentList.append(listItem);
                    });
                },
                error: function (error) {
                    console.error('댓글 목록 가져오기 오류:', error);
                }
            });
        }

        function updateComment(obj) {
            if (confirm("댓글을 수정하시겠습니까?")) {
                let bookId = [[${book.id}]]
                let commentId = obj.dataset.id;
                let form = obj.parentElement;
                var data = {
                    id: form.querySelector('#comment-id').value,
                    score: form.querySelector('#comment-score').value,
                    email: form.querySelector('#comment-email').value,
                    content: form.querySelector('#comment-content').value,
                };
                fetch(`/book/${bookId}/book-comment/${commentId}`, {
                    method: "PATCH",
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(() => {
                        alert('수정 완료');
                        location.href = `/book/${bookId}`
                    });
            }
        }

        function deleteComment(obj) {
            if (confirm("댓글을 삭제하시겠습니까?")) {
                let bookId = [[${book.id}]]
                let commentId = obj.dataset.id;
                fetch(`/book/${bookId}/book-comment/${commentId}`, {
                    method: "DELETE",
                })
                    .then(() => {
                        alert('삭제 완료');
                        location.href = `/book/${bookId}`
                    });
            }
        }
    </script>
</th:block>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .mgb-15 {
            margin-bottom: 15px;
        }

        .mgt-30 {
            margin-top: 30px;
        }

        .mgt-50 {
            margin-top: 50px;
        }

        .repImgDiv {
            margin-right: 15px;
            height: auto;
            width: 50%;
        }

        .repImg {
            width: 100%;
            height: 400px;
        }

        .wd50 {
            height: auto;
            width: 50%;
        }
    </style>
</th:block>

<div layout:fragment="content" style="margin-left:25%;margin-right:25%">

    <input type="hidden" id="bookId" th:value="${book.id}">

    <div class="d-flex">
        <div class="repImgDiv">
            <img th:src="${book.url}" class="rounded repImg" th:alt="${book.title}">
        </div>
        <div class="wd50">
            <span th:if="${book.sellStatus == T(com.woori.bookspring.constant.SellStatus).SELL}"
                  class="badge badge-primary mgb-15" style="color: black">
                판매중
            </span>
            <span th:unless="${book.sellStatus == T(com.woori.bookspring.constant.SellStatus).SELL}"
                  class="badge btn-danger mgb-15" style="color: black">
                품절
            </span>
            <div class="h4" th:text="${book.title}"></div>
            평점<p th:text="${book.avgScore}"></p>
            <hr class="my-4">

            <form th:action="@{/order/{book-id}(book-id = ${book.id})}" method="post">
                <input type="hidden" th:value="${book.id}" name="bookId">
                <div class="text-right">
                    <div class="h4 text-danger text-left">
                        <input type="hidden" th:value="${book.price}" id="price" name="price">
                        <span th:text="${book.price}"></span>원
                    </div>
                    <div class="input-group w-50">
                        <div class="input-group-prepend">
                            <span class="input-group-text">수량</span>
                        </div>
                        <input type="number" name="count" id="count" class="form-control" value="1" min="1">
                    </div>
                </div>
                <hr class="my-4">

                <div class="text-right mgt-50">
                    <h5>결제 금액</h5>
                    <h3 id="totalPrice" class="font-weight-bold"></h3>
                    <input type="hidden" name="totalPrice">
                </div>
                <div th:if="${book.sellStatus == T(com.woori.bookspring.constant.SellStatus).SELL}" class="text-right">
                    <button type="button" class="btn btn-light border border-primary btn-lg" onclick="addCart()">장바구니
                        담기
                    </button>
                    <button type="submit" class="btn btn-primary btn-lg">주문하기</button>
                </div>
                <div th:unless="${book.sellStatus == T(com.woori.bookspring.constant.SellStatus).SELL}"
                     class="text-right">
                    <button type="button" class="btn btn-danger btn-lg">품절</button>
                </div>
            </form>

        </div>
    </div>

    <div class="jumbotron jumbotron-fluid mgt-30">
        <div class="container">
            <h4 class="display-5">책 소개</h4>
            <hr class="my-4">
            <p class="lead" th:text="${book.intro}"></p>
        </div>
    </div>

    <!-- 댓글 작성 폼 -->
    <form id="commentForm" th:action="@{/book/{book-id}/book-comment (book-id = ${book.id})}" method="post">
        <input type="hidden" name="bookId" th:value="${book.id}" />
        <div class="form-group">
            <textarea name="content" class="form-control" placeholder="댓글을 입력하세요"></textarea>
        </div>
        <div class="form-group">
            <label for="score">별점:</label>
            <input type="number" name="score" class="form-control" min="1" max="5" />
        </div>
        <button type="submit" class="btn btn-primary">댓글 작성</button>
    </form>

    <ul class="list-unstyled">
        <th:block th:each="comment : ${book.bookCommentDtoList}">
            <li class="media mt-4" th:id="'comment_'+ ${comment.id}">
                <img class="mr-3" th:alt="${comment.email}">
                <p th:text="${comment.regTime}"></p>
                <p th:text="${comment.score}"></p>
                <p th:text="${comment.content}"></p>
                <div class="media-body">
                    <!-- 댓글 -->
                    <h5 class="mt-0 mb-1">
                        <small>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" th:data-bs-target="'.multi-collapse-'+${comment.id}" aria-expanded="false">수정</button>
                            <button class="btn btn-secondary" onclick="deleteComment(this)" th:data-id="${comment.id}">삭제</button>
                        </small>
                    </h5>
                    <!-- 보기 모드 -->
                    <p class="collapse show" th:classappend="'multi-collapse-'+${comment.id}">[[${comment.content}]]</p>
                    <!-- 수정 모드 -->
                    <form class="collapse" th:classappend="'multi-collapse-'+${comment.id}">
                        <div class="form-group">
                            <textarea class="form-control" id="comment-content" rows="3">[[${comment.content}]]</textarea>
                        </div>
                        <input type="number" id="comment-score" class="form-control" min="1" max="5" >
                        <input type="hidden" id="comment-id" th:value="${comment.id}">
                        <input type="hidden" id="comment-email" th:value="${comment.email}">
                        <button type="button" class="btn btn-info comment-update-btn" onclick="updateComment(this)">수정 완료</button>
                    </form>
                </div>
            </li>
        </th:block>
    </ul>
</div>
</html>