<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user_layout}">

<main layout:fragment="content" id="article-main" class="container">
    <input type="hidden" id="articleType" th:value="${article.articleType}">
    <header id="article-header" class="py-5 text-center">
        <h1>[[${article.title}]]</h1>
    </header>
    <div class="row g-5">
        <section class="col-md-3 col-lg-4 order-md-last">
            <aside>
                <p>[[${article.createdBy}]]</p>
                <p>
                    <time id="reg-time" datetime="2023-01-01T00:00:00" th:text="${article.regTime}"></time>
                </p>
            </aside>
        </section>
        <article id="article-content" class="col-md-9 col-lg-8">
            <pre>[[${article.content}]]</pre>
        </article>
    </div>
    <div class="row g-5" id="article-buttons">
        <form>
            <div class="pb-5 d-grid gap-2 d-md-block"
                 th:if="${#authorization.expression('isAuthenticated()')} and ${article.createdBy} == ${#authentication.name}">
                <article>
                    <input type="hidden" id="article-id" th:value="${article.id}">
                    <a class="btn btn-success me-md-2" role="button"
                       th:href="@{/article/{article-type}/{article-id}/update (article-type = ${article.articleType}, article-id = ${article.id})}">수정</a>
                    <button type="button" id="delete-btn" class="btn btn-danger me-md-2">
                        삭제
                    </button>
                </article>
            </div>
        </form>
    </div>

    <div class="row g-5">
        <section>
            <form class="row g-3 comment-form"
                  th:action="@{/article/{article-type}/{article-id}/comment (article-type = ${article.articleType}, article-id=${article.id})}" method="POST">
                <div class="col-md-9 col-lg-8">
                    <label for="comment-textbox" hidden>댓글</label>
                    <textarea name="content" class="form-control comment-textbox" id="comment-textbox"
                              placeholder="댓글 쓰기.." rows="3"
                              required></textarea>
                </div>
                <input type="hidden" name="email" th:value="${#authentication.name}">

                <div class="col-md-3 col-lg-4">
                    <button class="btn btn-primary" id="comment-submit" type="submit">쓰기</button>
                </div>
            </form>
            <ul class="list-unstyled">
                <th:block th:each="comment : ${article.commentDtoList}">
                    <li class="media mt-4" th:id="'comment_'+ ${comment.id}">
                        <img class="mr-3" th:alt="${comment.email}">
                        <p th:text="${comment.regTime}"></p>
                        <div class="media-body">
                            <!-- 댓글 -->
                            <h5 class="mt-0 mb-1">
                                <small>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" th:data-bs-target="'.multi-collapse-'+${comment.id}" aria-expanded="false">수정</button>
                                    <button class="btn btn-secondary" onclick="deleteComment(this)" th:data-id="${comment.id}">삭제</button>
                                </small>
                            </h5>
                            <!-- 보기 모드 -->
                            <p class="collapse show" th:classappend="'multi-collapse-'+${comment.id}">[[${comment.content}]]</p>
                            <!-- 수정 모드 -->
                            <form class="collapse" th:classappend="'multi-collapse-'+${comment.id}">
                                <div class="form-group">
                                    <textarea class="form-control" id="comment-content" rows="3">[[${comment.content}]]</textarea>
                                </div>
                                <input type="hidden" id="comment-id" th:value="${comment.id}">
                                <input type="hidden" id="comment-email" th:value="${comment.email}">
                                <input type="hidden" id="articleId" th:value="${article.id}">

                                <button type="button" class="btn btn-info comment-update-btn" onclick="updateComment(this)">수정 완료</button>
                            </form>
                        </div>
                    </li>
                </th:block>
            </ul>
        </section>
    </div>
    <script src="/js/article.js"></script>
    <script th:inline="javascript">
        let articleId = [[${article.id}]]
        let articleType = [[${article.articleType}]]
        function updateComment(obj) {
            if (confirm("댓글을 수정하시겠습니까?")) {
                let form = obj.parentElement;
                var data = {
                    id: form.querySelector('#comment-id').value,
                    email: form.querySelector('#comment-email').value,
                    content: form.querySelector('#comment-content').value,
                };

                fetch(`/article/${articleType}/${articleId}/comment/${data.id}`, {
                    method: "PATCH",
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(() => {
                        alert('수정 완료');
                        location.href = `/article/${articleType}/${articleId}`
                    });
            }
        }

        function deleteComment(obj) {
            if (confirm("댓글을 삭제하시겠습니까?")) {
                let commentId = obj.dataset.id;
                fetch(`/article/${articleType}/${articleId}/comment/${commentId}`, {
                    method: "DELETE",
                })
                    .then(() => {
                        alert('삭제 완료');
                        location.href = `/article/${articleType}/${articleId}`
                    });
            }
        }
    </script>
</main>
</html>