<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
        function updateEbook() {
            if (confirm("Ebook을 수정하시겠습니까?")) {
                let ebookId = [[${ebook.id}]]
                var formData = new FormData();
                formData.append("imgFile",document.querySelector("[name=imgFile]").files[0]);
                formData.append("title", $("[name=title]").val())
                formData.append("intro", $("[name=intro]").val())
                formData.append("price", $("[name=price]").val())
                fetch(`/writer/ebook/${ebookId}`, {
                    method: "PATCH",
                    body: formData,
                }).then(() => {
                    alert("수정완료");
                    location.href = `/ebook/${ebookId}`;
                })
            }
        }
    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .input-group {
            margin-bottom: 15px
        }

        .img-div {
            margin-bottom: 10px
        }

        .fieldError {
            color: #bd2130;
        }

    </style>
</th:block>

<div layout:fragment="content">

    <form role="form" action="/writer/ebook" method="post" enctype="multipart/form-data">

        <p class="h2">
            Ebook 등록
        </p>

        <input type="hidden" name="id">


        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">제목</span>
            </div>
            <input type="text" class="form-control" placeholder="책 제목을 입력해주세요" name="title" th:field="${ebook.title}">
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">가격</span>
            </div>
            <input type="number" class="form-control" placeholder="가격을 입력해주세요" name="price" th:field="${ebook.price}">
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">책 소개</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" name="intro" th:field="${ebook.intro}"></textarea>
        </div>
        <div class="form-group">
            <div class="custom-file img-div">
                <input type="file" class="custom-file-input" name="imgFile">
                <label class="custom-file-label" text="상품이미지"></label>
            </div>
        </div>

        <th:block th:if="${ebook.id} == null">
            <button type="submit" class="btn btn-primary">저장</button>
        </th:block>
    </form>
    <th:block th:unless="${ebook.id} == null">
        <button class="btn btn-primary" onclick="updateEbook()">수정</button>
    </th:block>

</div>

</html>