<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en"
      layout:decorate="~{layouts/main_layout}">

<th:block layout:fragment="script">

    <script th:inline="javascript">
        function deleteEbook(obj) {
            if (confirm("정말로 삭제하시겠습니까")){
                var ebookId = obj.dataset.id;
                var url = "/writer/ebook/" + ebookId;

                $.ajax({
                    url: url,
                    type: "DELETE",
                    cache: false,
                    success: function (result, status) {
                        alert("삭제완료");
                        location.reload();

                    },
                    error: function (jqXHR, status, error) {

                        if (jqXHR.status == '401') {
                            alert('로그인 후 이용해주세요');
                            location.href = '/user/login';
                        } else {
                            alert(jqXHR.responseJSON.message);
                        }

                    }
                });
            };
        }
    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .carousel-inner > .item {
            height: 350px;
        }

        .margin {
            margin-bottom: 30px;
        }


        .card-text {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        a:hover {
            text-decoration: none;
        }


        body {
            font-family: Arial, sans-serif;
        }

        .container {
            position: absolute;
            bottom: 20px;
            right: 20px;
            border: 1px solid #ccc;
            padding: 10px;
            background-color: #f9f9f9;
        }

        input[type="text"] {
            padding: 5px;
        }

        button {
            padding: 5px 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <h1 sec:authorize="hasAuthority('WRITER')">작가페이지</h1>

    <!-- 검색창 추가 -->
    <div class="row" sec:authorize="!hasAuthority('WRITER')">
        <div class="card card-margin search-form">
            <div class="card-body p-0">
                <form id="search-form" th:action="@{/ebook}">
                    <div class="row">
                        <div class="col-12">
                            <div class="row no-gutters">
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <label for="searchType" hidden>책 검색</label>
                                    <select class="form-control" id="searchType" name="searchType">
                                        <option name="searchType" value="title">제목</option>
                                        <option name="searchType" value="intro">소개</option>
                                    </select>
                                </div>
                                <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                    <label for="searchValue" hidden>eBook 검색</label>
                                    <input type="text" placeholder="검색어..." class="form-control" id="searchValue"
                                           name="searchValue">
                                </div>
                                <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                    <button type="submit" class="btn btn-base">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-search">
                                            <circle cx="11" cy="11" r="8"></circle>
                                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        <th:block th:each="ebook : ${list}">
            <div class="col-md-4 margin">
                <div class="card">
                    <input type="hidden" th:id="'ebook_' + ${ebook.id}" th:value="${ebook.id}">
                    <a class="text-dark">
                        <img th:src="${ebook.url}" class="rounded repImg" th:alt="${ebook.title}"
                             style="max-width: 100px; height: 100px;">

                        <div class="card-body">
                            <a th:href="@{/ebook/{ebook-id}(ebook-id = ${ebook.id})}" class="card-title"
                               th:text="${ebook.title}"></a>
                            <p class="card-text" th:text="${ebook.intro}"></p>
                            <h3 class="card-title text-danger"></h3>
                        </div>
                    </a>
                </div>
                <th:block sec:authorize="hasAnyAuthority('WRITER','ADMIN','SUPER')" th:if="${ebook.writerNickname == #authentication.principal.user.nickname || principal.authorities.contains('ADMIN') || principal.authorities.contains('SUPER')}">
                    <a class="btn" th:href="@{/writer/ebook/{ebook-id}(ebook-id = ${ebook.id})}">
                        수정
                    </a>

                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true" th:data-id="${ebook.id}" onclick="deleteEbook(this)">삭 제</span>
                    </button>
                </th:block>
            </div>
        </th:block>
    </div>


    <th:block th:replace="~{fragments/pagination}"></th:block>
    <a sec:authorize="hasAnyAuthority('WRITER', 'ADMIN', 'SUPER')" href="/writer/ebook" class="btn btn-outline-secondary"> EBook 등 록</a>
</div>
</html>