<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage_layout}">
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function checkAll() {
            if ($("#checkall").prop("checked")) {
                $("input[name=articleChkBox]").prop("checked", true);
            } else {
                $("input[name=articleChkBox]").prop("checked", false);
            }
        }
        function deleteAllArticles() {
            if (confirm("정말 삭제하시겠습니까?")){
                $("input[name=articleChkBox]:checked").each(function () {
                    var articleId = $(this).val();
                    deleteArticleById(articleId);
                });
            }
        }
        function deleteArticleById(articleId) {
            let articleType = [[${list.articleType}]];

            $.ajax({
                url: `/article/${articleType}/${articleId}`,
                type: "DELETE",
                cache: false,
                success: function (result, status) {
                    console.log(result)
                    location.reload(); // 페이지 리로드 예시
                },
                error: function (jqXHR, status, error) {
                    console.log(error)
                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요');
                        location.href = '/user/login';
                    } else {
                        alert(jqXHR.responseJSON.message);
                    }
                }
            });
        }
    </script>
</th:block>
<th:block layout:fragment="content">
    <div class="row">
        <div class="card card-margin search-form">
            <div class="card-body p-0">
                <form id="search-form">
                    <div class="row">
                        <div class="col-12">
                            <div class="row no-gutters">
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <label for="search-type" hidden>검색 유형</label>
                                    <select class="form-control" id="search-type" name="searchType">
                                        <option>제목</option>
                                        <option>본문</option>
                                        <option>id</option>
                                        <option>닉네임</option>
                                    </select>
                                </div>
                                <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                    <label for="search-value" hidden>검색어</label>
                                    <input type="text" placeholder="검색어..." class="form-control" id="search-value"
                                           name="searchValue">
                                </div>
                                <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                    <button type="submit" class="btn btn-base">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-search">
                                            <circle cx="11" cy="11" r="8"></circle>
                                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <table class="table" id="article-table">
            <thead>
            <tr>
                <th><input type="checkbox" id="checkall" onclick="checkAll()"> 전체선택</th>
                <th class="title col-6"><a>제목</a></th>
                <th class="user-id"><a>작성자</a></th>
                <th class="created-at"><a>작성일</a></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${list.articleDtoList}">
                <td class="text-center align-middle"><input type="checkbox" name="articleChkBox" th:value="${article.id}"></td>
                <td class="title"><a th:text="${article.title}"
                                     th:href="@{/article/{articleType}/{article-id} (article-type = ${list.articleType}, article-id = ${article.id})}"></a></td>
                <td class="user-id" th:text="${article.createdBy}"></td>
                <td class="created-at">
                    <time th:text="${article.regTime}"></time>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-danger btn-lg" onclick="deleteAllArticles()">선택삭제</button>
    </div>

</th:block>