<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage_layout}">
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function getOrderTotalPrice() {
            var orderTotalPrice = 0;
            $("input[name=cartChkBox]:checked").each(function () {
                var cartItemId = $(this).val();
                var price = $("#price_" + cartItemId).attr("data-price");
                var count = $("#count_" + cartItemId).val();
                orderTotalPrice += price * count;
            });

            $("#orderTotalPrice").html(orderTotalPrice + '원');
        }

        function changeCount(obj) {
            var count = obj.value;
            var cartItemId = obj.id.split('_')[1];
            var price = $("#price_" + cartItemId).data("price");
            var totalPrice = count * price;
            $("#totalPrice_" + cartItemId).html(totalPrice + "원");
            getOrderTotalPrice();
            updateCartItemCount(cartItemId, count);
        }

        function checkAll() {
            if ($("#checkall").prop("checked")) {
                $("input[name=cartChkBox]").prop("checked", true);
            } else {
                $("input[name=cartChkBox]").prop("checked", false);
            }
            getOrderTotalPrice();
        }
    </script>
</th:block>
<th:block layout:fragment="content">
    <h1 th:if="${commentType.equals('comment')}">댓글</h1>
    <h1 th:if="${commentType.equals('bookComment')}">Book 댓글</h1>
    <h1 th:if="${commentType.equals('episodeComment')}">Ebook 댓글</h1>
    <div class="row">
        <table class="table" id="article-table">
            <thead>
            <tr>
                <th>댓글 번호</th>
                <th>작성자</th>
                <th:block th:unless="${commentType.equals('comment')}">
                    <th>도서명</th>
                    <th>별점</th>
                </th:block>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment : ${list}">
                <td><a th:text="${comment.id}"></a></td>
                <td th:text="${comment.email}"></td>
                <td th:if="${commentType.equals('bookComment')}" th:text="${comment.bookTitle}"></td>
                <td th:if="${commentType.equals('episodeComment')}" th:text="|${comment.ebookTitle} - ${comment.episodeTitle}|">
                </td>
                <td th:unless="${commentType.equals('comment')}" th:text="${comment.score}"></td>
                <td>
                    <time th:text="${comment.regTime}"></time>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <th:block th:replace="~{fragments/pagination}"></th:block>
</th:block>