<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<div layout:fragment="content">
    <style>
        span {
            font-size: 12px;
        }
    </style>
    <header>
        <h1 sec:authorize="isAnonymous()">회원가입</h1>
        <h1 sec:authorize="isAuthenticated()">계정 등록</h1>
    </header>
    <hr>
    <div class="container mt-3">
        <form method="post" th:object="${dto}">

            <table class="table">
                <th:block sec:authorize="hasAnyAuthority('ADMIN', 'SUPER')">
                    <div data-role="fieldcontain">
                        <fieldset data-role="controlgroup">
                            <th:block sec:authorize="hasAuthority('SUPER')">
                                <input type="radio" name="role" id="radio-1" value="ADMIN" checked="checked" />
                                <label for="radio-1" id="label-1">ADMIN</label>
                            </th:block>
                            <input type="radio" name="role" id="radio-2" value="WRITER" />
                            <label for="radio-2" id="label-2">WRITER</label>
                        </fieldset>
                    </div>
                </th:block>
                <tr>
                    <th>
                        <label for="email">이메일 ID</label>
                    </th>
                    <td>
                        <input id="email" type="email" th:field="*{email}" placeholder="아이디를 입력해주세요." required/>
                        <span class="point successEmailChk"></span>
                        <span class="point">※ 이메일 형식으로 입력</span>
                        <input type="hidden" id="emailDoubleChk"/>
                    </td>
                </tr>

                <tr>
                    <th>
                        <label for="nickname">닉네임</label>
                    </th>
                    <td>
                        <input id="nickname" type="text" th:field="*{nickname}" placeholder="닉네임을 설정해 주세요." maxlength="8"
                               title="8자 까지 입력" required/>
                        <span class="point successNicknameChk"></span>
                        <input type="hidden" id="nicknameDoubleChk"/>
                    </td>
                </tr>

                <tr>
                    <th>
                        <label for="password">비밀번호</label>
                    </th>
                    <td>
                        <input id="password" type="password" th:field="*{password}" required minlength="8" maxlength="16"
                               autocomplete="off"/>
                        <span class="point">※ 영문/숫자/특수문자 조합, 8자~16자</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="passwordCheck">비밀번호 확인</label>
                    </th>
                    <td>
                        <input id="passwordCheck" type="password" th:field="*{passwordCheck}" placeholder="비밀번호를 확인해주세요."
                               required minlength="8" maxlength="16" autocomplete="off"/>
                        <span class="point successPwChk"></span>
                        <input type="hidden" id="pwDoubleChk"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="birth">생년월일</label>
                    </th>
                    <td>
                        <input type="date" id="birth" th:field="*{birth}">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="address">주소</label>
                    </th>
                    <td>
                        <input type="text" id="address" th:field="*{address}">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="phone">전화번호</label>
                    </th>
                    <td>
                        <input type="text" id="phone" th:field="*{phone}">
                    </td>
                </tr>
            </table>

            <button sec:authorize="isAnonymous()" type="button" onclick="signup()" disabled id="btn-signup" class="btn btn-secondary">회원가입</button>
            <button sec:authorize="hasAnyAuthority('ADMIN', 'SUPER')" type="button" onclick="insert()" disabled id="btn-insert" class="btn btn-secondary">등록</button>
            
        </form>
    </div>
    <script th:inline="javascript">
        function insert(){

            $.ajax({
                url: '/admin/insert',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({
                    role: $("input[name=role]:checked").val(),
                    email: $("#email").val(),
                    password: $("#password").val(),
                    passwordCheck: $("#passwordCheck").val(),
                    nickname: $("#nickname").val(),
                    birth: $("#birth").val(),
                    address: $("#address").val(),
                    phone: $("#phone").val(),
                }),
                success: function (data){
                    alert(data);
                    location.href = "/";
                },
                error: function (data){
                    alert(data.responseText);
                }
            })
        }
        
        function signup(){
            $.ajax({
                url: '/signup',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({
                    email: $("#email").val(),
                    password: $("#password").val(),
                    passwordCheck: $("#passwordCheck").val(),
                    nickname: $("#nickname").val(),
                    birth: $("#birth").val(),
                    address: $("#address").val(),
                    phone: $("#phone").val(),
                }),
                success: function (data){
                    alert(data);
                    location.href = "/";
                },
                error: function (data){
                    alert(data.responseText);
                }
            })
        }
        function btnAble() {
            if ($("#nicknameDoubleChk").val()==="true" && $("#emailDoubleChk").val()==="true" && $("#pwDoubleChk").val()==="true") {
                $("#btn-signup").attr("disabled", false);
                $("#btn-insert").attr("disabled", false);
            }else{
                $("#btn-signup").attr("disabled", true);
                $("#btn-insert").attr("disabled", true);
            }
        }

        $("#nickname").blur(function () {
            var nickname = $("#nickname").val();
            if (nickname === "" || nickname.length < 2) {
                $(".successNicknameChk").text("닉네임은 2자 이상 8자 이하로 설정해 주세요 :)").css("color", "red");
                $("#nicknameDoubleChk").val("false");
            } else {
                $.ajax({
                    url: '/nicknameCheck',
                    type: 'post',
                    data: {nickname: nickname},
                    cache: false,
                    success: function (data) {
                        if (!data) {
                            $(".successNicknameChk").text("사용 가능한 닉네임 입니다.").css("color", "green");
                            $("#nicknameDoubleChk").val("true");
                            btnAble();
                        } else {
                            $(".successNicknameChk").text("사용 중인 닉네임 입니다 :p").css("color", "red");
                            $("#nicknameDoubleChk").val("false");
                            btnAble();
                        }
                    }, error: function () {
                        console.log("실패");
                    }
                });
            }
        });

        $("#email").blur(function () {
            var email = $("#email").val();
            let regex = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
            if (!regex.test(email)) {
                $(".successEmailChk").text("이메일을 입력해 주세요 :)").css("color", "red");
                $("#emailDoubleChk").val("false");
            } else {
                $.ajax({
                    url: '/emailCheck',
                    type: 'post',
                    data: {email: email},
                    cache: false,
                    success: function (data) {
                        if (!data) {
                            $(".successEmailChk").text("사용 가능한 이메일 입니다.").css("color", "green");
                            $("#emailDoubleChk").val("true");
                            btnAble();
                        } else {
                            console.log(data)
                            $(".successEmailChk").text("사용 중인 이메일 입니다 :p").css("color", "red");
                            $("#emailDoubleChk").val("false");
                            btnAble();
                        }
                    }, error: function () {
                        console.log("실패");
                    }
                });
            }
        });

        $("#passwordCheck").on("propertyChange change keyup paste input", function () {
            let password = $("#password").val()
            let reg = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,16}$/
            if (reg.test(password)){
                if ($("#passwordCheck").val() === password) {
                    $(".successPwChk").text("비밀번호가 일치합니다.").css("color", "green");
                    $("#pwDoubleChk").val("true");
                    btnAble();
                } else {
                    $(".successPwChk").text("비밀번호가 일치하지 않습니다.").css("color", "red");
                    $("#pwDoubleChk").val("false");
                    btnAble();
                }
            }else{
                $(".successPwChk").text("비밀번호가 올바르지 않습니다.").css("color", "red");
                $("#pwDoubleChk").val("false");
                btnAble();
            }
        });
        $("#password").on("propertyChange change keyup paste input", function () {
            let password = $("#password").val()
            let reg = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,16}$/
            if (reg.test(password)){
                if ($("#passwordCheck").val() === password) {
                    $(".successPwChk").text("비밀번호가 일치합니다.").css("color", "green");
                    $("#pwDoubleChk").val("true");
                    btnAble();
                } else {
                    $(".successPwChk").text("비밀번호가 일치하지 않습니다.").css("color", "red");
                    $("#pwDoubleChk").val("false");
                    btnAble();
                }
            }else{
                $(".successPwChk").text("비밀번호가 올바르지 않습니다.").css("color", "red");
                $("#pwDoubleChk").val("false");
                btnAble();
            }
        });
    </script>
</div>
</html>