<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<!-- Header Fragment 선언부 -->
<div th:fragment="header">
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a id="home" href="/" class="nav-link px-2 text-secondary">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav" sec:authorize="!hasAuthority('WRITER')">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Book
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/book">전체보기</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Ebook
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/ebook">전체보기</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            커뮤니티
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/article/01">자유게시판</a></li>
                            <li><a class="dropdown-item" href="/article/02">리뷰</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            고객센터
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/article/03">공지사항</a></li>
                            <li><a class="dropdown-item" href="/article/04">이벤트</a></li>
                            <li><a class="dropdown-item" href="/article/05">Q&A</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="text-end">
                    <div sec:authorize="isAnonymous()">
                        <a class="btn btn-outline-light me-2" href="/user/login">Login</a>
                        <a class="btn btn-outline-light me-2" href="/signup">Signup</a>
                    </div>
                    <a sec:authorize="hasAnyAuthority('USER')" class="btn btn-outline-light me-2" href="/ticket">내 이용권 :
                        [[${#authentication.principal.user.totalTicket}]] 개</a>
                    <th:block sec:authorize="isAuthenticated()">
                        <a sec:authorize="hasAnyAuthority('USER')"
                           class="btn btn-outline-light me-2"
                           href="/user">마이 페이지</a>
                        <a sec:authorize="hasAnyAuthority('WRITER')"
                           class="btn btn-outline-light me-2" th:href="@{/writer}">작가 페이지</a>
                        <a sec:authorize="hasAnyAuthority('ADMIN', 'SUPER')"
                           class="btn btn-outline-light me-2" th:href="@{/admin/user}">관리자 페이지</a>
                        <input sec:authorize="!hasAnyAuthority('SUPER')" type="button" class="btn btn-outline-light me-2" th:data-id="${#authentication.principal.user.oauth}" onclick="logout(this);"
                               value="Logout">
                        <a sec:authorize="hasAnyAuthority('SUPER')" type="button" class="btn btn-outline-light me-2"
                           href="/logout">로그아웃</a>
                    </th:block>
                </div>
            </div>
        </div>
    </nav>

    <script th:inline="javascript">
        $(document).ready(() => {
            if ([[${errorMessage}]]) {
                alert([[${errorMessage}]])
            }
        })

        function logout(obj) {
            let oauth = obj.dataset.id.toString();
            console.log(oauth)
            if (confirm("정말 로그아웃 하시겠습니까?")) {
                switch (oauth) {
                    case 'WOORI':
                        location.href = "/logout";
                        break;
                    case 'KAKAO':
                        location.href = "/user/logout/kakao";
                        break;
                    case 'NAVER':
                        window.open('http://nid.naver.com/nidlogin.logout', "popup", "width=400, height=300, menubar=1")
                        location.href = "/logout";
                        break;
                    case 'GOOGLE':
                        window.open('https://accounts.google.com/logout', "popup", "width=400, height=300, menubar=1")
                        location.href = "/logout";
                        break;
                }
            }
        }
    </script>
</div>
</html>