<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- Sidebar-->
<div class="border-end bg-white" id="sidebar-wrapper" th:fragment="help_sidebar">
    <div class="sidebar-heading border-bottom bg-light">고객센터</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/article/03">공지사항</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/article/04">이벤트</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/article/05">QnA</a>
    </div>
</div>
</html>