<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="pagination">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" th:href="@{?page=1 (searchType = ${searchType}, searchValue = ${searchValue})}" aria-label="Previous">
                    <span aria-hidden="true">처음</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{?(searchType = ${searchType}, searchValue = ${searchValue}, page = ${paging.startNumber-1})}" th:classappend="${paging.startNumber == 1}?disabled">
                    <span aria-hidden="true">이전</span>
                </a>
            </li>
            <li class="page-item"
                th:each="pageButton : ${bar}">
                <a class="page-link" th:href="@{?(searchType = ${searchType}, searchValue = ${searchValue}, page = ${pageButton})}" th:text="${pageButton}" th:classappend="${paging.currentPage == pageButton}?active"></a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{?(searchType = ${searchType}, searchValue = ${searchValue}, page = ${paging.endNumber+1})}" th:classappend="${paging.endNumber == list.totalPages}?disabled">
                    <span aria-hidden="true">다음</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{?(searchType = ${searchType}, searchValue = ${searchValue}, page = ${list.totalPages})}" aria-label="Previous">
                    <span aria-hidden="true">끝</span>
                </a>
            </li>
        </ul>
    </nav>
</th:block>
</html>