<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- Sidebar-->
<div class="border-end bg-white" id="sidebar-wrapper" th:fragment="sidebar">
    <div class="sidebar-heading border-bottom bg-light">마이페이지</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3"
           th:href="@{/user/{user-id}(user-id = ${#authentication.principal.user.id})}">회원정보</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/cart">장바구니</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/order">주문내역</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/inven">보관함</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/like">좋아요</a>
        <a class="nav-item dropdown" th:href="@{/user/{user-id}/article/01 (user-id = ${#authentication.principal.user.id})}">
            <a class="list-group-item list-group-item-action list-group-item-light p-3 dropdown-toggle"
               data-bs-toggle="dropdown" aria-expanded="false">내 글 관리</a>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" th:href="@{/user/{user-id}/article/01 (user-id = ${#authentication.principal.user.id})}">자유게시판</a></li>
                <li><a class="dropdown-item" th:href="@{/user/{user-id}/article/01 (user-id = ${#authentication.principal.user.id})}">리뷰게시판</a></li>
                <li><a class="dropdown-item" th:href="@{/user/{user-id}/article/01 (user-id = ${#authentication.principal.user.id})}">Q&A</a></li>
                <li><a class="dropdown-item" th:href="@{/user/{user-id}/article/01 (user-id = ${#authentication.principal.user.id})}">댓글</a></li>
                <li><a class="dropdown-item" th:href="@{/user/{user-id}/article/01 (user-id = ${#authentication.principal.user.id})}">Book댓글</a></li>
                <li><a class="dropdown-item" th:href="@{/user/{user-id}/article/01 (user-id = ${#authentication.principal.user.id})}">Ebook댓글</a></li>
            </ul>
        </a>
    </div>
</div>
</html>